 body{
    background-image: URL("https://images.unsplash.com/photo-1681158200230-39fd79b125f0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    color:rgb(255, 255, 255);
}
#bigheader label{
    text-align: center;
}

.header{
    text-align: center;
    font-family:'Rajdhani', sans-serif;
    text-transform:capitalize;
    font-size:85px;
    color:#fff;
    font-display:initial;
    cursor: pointer;
    opacity: 0.5;
    height:80px;
    width:100%;
    margin-left:35%;
    margin-right:75;
}
nav ul{
    font-size:20px;
    float:right;
    margin-right:15px;

}
nav ul li{
    display:inline-block;
    line-height:80px;
}
nav ul li a{
    color:#fff;
    border:30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav ul li a:hover{
    color:hotpink;
    font-size:30px;
    transition: 0.6s;
}
.header:hover{
    color: hotpink;
    transition: 0.2s;
    font-size: 110px;
    opacity:1.2

}
#navhead{
    background-size: cover;
    color:white;
    display:flex;
    flex-wrap:wrap;
    align-content:center;
    justify-content: space-around;
    align-items: center;
 
}

#cloth-name{
    background:none;
    color:yellow;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    transition: 0.3s;
    
}
#cloth-name:hover{
    color: #000;
    font-size: 30px;
}
 
 #cloth-head{
    display:contents;
    padding-top: 400px;
    
 }
#cloth-content{
    align-content: center;
    align-items: center;
    text-align: center;
}
#pic {width:450px}
#pic{position: relative;}
#pic::after{
    content:"HalisTradeLine";
    font-size: 30px;
    font-weight:lighter;
    color:purple;
    opacity: 0.8;
    position: absolute;
    bottom:0;
    right:0;
    
}
#colors{
    color: aqua;
    font-size: 20px;
    
}
#btn{
    align-self:end;
}
#OrderForm{
    display:none;

}
#price{
    color:rgb(153, 255, 0);
    font-size:25px
}
#links{
    text-align: left;
    color:white;
    margin:0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}
